receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s

  subtraceaggregator:
    timeout: 30s
    max_spans_per_subtrace: 500
    
    attribute_aggregations:
      - aggregation: count
        condition: 'attributes["db.system"] != nil'
        target: subtrace.db_call_count
      
      - aggregation: any
        source: attributes["customer.loyalty_status"]
        target: subtrace.customer.loyalty_status
      
      - aggregation: all_distinct
        source: attributes["db.sql.table"]
        target: subtrace.tables_accessed
    
    event_aggregations:
      - aggregation: copy_event
        source: exception
        max_events: 5

exporters:
  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true

  otlphttp/dynatrace:
    endpoint: ${env:DT_ENDPOINT}
    headers:
      Authorization: "Api-Token ${env:DT_API_TOKEN}"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [subtraceaggregator, batch]
      exporters: [otlp/jaeger, otlphttp/dynatrace]
